{% extends "core/base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Contato com os noivos</h1>
    </div>

    <div class="col-sm-6">
        <h2><small>noiva</small> Juliana </h2>
        <address>
            <strong>Juliana Rosa Rodrigues</strong><br>
            Rua Prof Anália Alves Teixeira, 2661 - Bairro Jardim Tropical<br>
            Franca, SP 14407-065<br>
            <abbr title="Phone">Tel:</abbr> (16) 3403-1607
        </address>

        <address>
            <strong>Juliana Rodrigues</strong><br>
            <a href="mailto:julianarosarodrigues@hotmail.com">julianarosarodrigues@hotmail.com</a>
        </address>
    </div>

    <div class="col-sm-6">
        <h2><small>noivo</small> Leonardo</h2>
        <address>
            <strong>Leonardo Nascimento Cintra</strong><br>
            Rua Seis de abril, 1302 - Bairro Centro<br>
            Ibiraci, MG - 37990-000<br>
            <abbr title="Phone">Tel:</abbr> (35) 3544 14-17
        </address>

        <address>
            <strong>Leonardo Cintra</strong><br>
            <a href="mailto:leonardo.ncintra@outlook.com">leonardo.ncintra@outlook.com</a>
        </address>
    </div>
{% endblock content %}