{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block content %}

  <div class="jumbotron">
    <h1><small>casamento</small> Juliana & Leonardo</h1>
    <p>Confirme sua presença agora mesmo! <span class="glyphicon glyphicon-heart" style="color: red;" aria-hidden="true"></span></p>
  </div>

  <div class="row">    
    <div class="col-sm-6">
      <blockquote>
        <p>Insira o nome ou nome do casal e a quantidade de pessoas.</p>
        <footer>Exemplo: <cite title="Título da fonte">Jose e Esposa, quantidade: 2</cite></footer>
        <footer>Exemplo: <cite title="Título da fonte">Maria, quantidade: 1</cite></footer>
      </blockquote>
      <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.auto_id }}" class="col-sm-4 control-label">{{ field.label }}</label>
            <div class="col-sm-8">
              {% render_field field class="form-control" placeholder=field.label %}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success"> Confirmar minha presença <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <h1><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Falta:</small> {{ data_casamento|timeuntil }}!</h1>
    </div>
  </div>

{% endblock content %}